/*----------Стили для сетки----------*/

.color-red {
    outline: red dashed 2px;
    background: rgba(255, 0, 0, 0.3);
}
.color-green {
    outline: greenyellow dashed 2px;
    background: rgba(0, 255, 0, 0.3);
}
.color-blue {
    outline: yellow dashed 2px;
    background: rgba(0, 0, 255, 0.3);
}
/*----------Стили для сетки----------*/



body {
    background-color: #000000;
    background-size: 1122px auto;
    margin: 0;
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    color: white;
/*----------Временный фон----------*/
    background: url("barbershop-index.png") no-repeat center top;
/*----------Временный фон----------*/

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-header {
    margin-bottom: 57px;
    color: white;
    background-color: black;
}
.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}
.main-navigation {
    float: left;
    width: 780px;
}
.main-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}
.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}
.main-navigation a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 26px 20px;
}
.main-navigation a:hover {
    background: #242424;
}
.user-block {
    float: right;
    max-width: 140px;
}
.login {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 26px 20px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}
.login:hover {
    background-color: #242424;
}
/* Нужно будет доделать иконку после того как создам спрайт, на видео 1:20 */
.login::before {
    position: absolute;
    top: 28px;
    left: 20px;
    content: "";
    width: 18px;
    height: 18px;
    opacity: 0.3;
    background-color: white;
}
/* Нужно будет доделать иконку после того как создам спрайт, на видео 1:20 */
.login:hover::before {
    opacity: 1;
}
.index-logo {
    height: 204px;
    width: 368px;
    margin: 0 auto;
    margin-bottom: 20px;
}
/*----------Вставить нормальное лого----------*/
.index-logo img {
    width: 368px;
    height: 204px;
}
/*----------Вставить нормальное лого----------*/
.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}
.features-name {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 32px;
    padding-bottom: 37px;
    /*Тестовые настройки*/
}
.features-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(45deg);
}
.features-item p {
    margin: 10px;
    margin-bottom: 0;
}
.features-item:last-child {
    margin-right: 0;
}
.features {
    margin-bottom: 80px;
}
.index-content {
    padding: 50px 80px;
    margin-bottom: 35px;
}
.index-content-left {
    min-height: 330px;
    float: left;
    width: 380px;
}
.index-content-right {
    min-height: 330px;
    float: right;
    width: 300px;
}
.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer-contacts {
    min-height: 90px;
    float: left;
    width: 320px;
    margin-right: 60px;
}
.footer-social {
    min-height: 90px;
    float: left;
    width: 180px;
}
.footer-copyright {
    min-height: 90px;
    float: right;
    width: 180px;
}